<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1">
    <link rel="icon" href="https://img.icons8.com/fluency/32/000000/node-js.png"/>
    <%- myCss.style %>
    <title>Hardware Status</title>
</head>
<body>
    <h1 id="titulo">Hardware Status</h1>
    <div class="container">
        <table>
            <tr>
                <td>Processador</td>
                <td class="values"><%= status.cpu %></td>
            </tr>
            <tr>
                <td>Arquitetura</td>
                <td class="values"><%= status.arch %></td>
            </tr>
            <tr>
                <td>Sistema Operacional</td>
                <td class="values"><%= status.os %></td>
            </tr>
            <tr>
                <td>Memória Total</td>
                <td class="values"><%= status.totalRam %></td>
            </tr>
            <tr>
                <td>Memória Livre</td>
                <td class="values"><%= status.freeRam %></td>
            </tr>
            <tr>
                <td>Velocidade da Memória</td>
                <td class="values"><%= status.speedRam %></td>
            </tr>
        </table>
    </div>
</body>
</html>

